
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

html {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100%;
  background-color: #EEEEEE;
  color: #333333;
  font-family: "eb-garamond";
  text-rendering: optimizeLegibility;
}

// These rules will be overriden by
// `.wf-active header`, `.wf-active section`, `.wf-active footer`,
// once webfonts are loaded.
header,
section,
footer {
  visibility: hidden;
}

noscript {
  display: block;
  margin: 1em (100% / 18);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "josefin-slab";
}

p {
  margin: 0;
}

a {
  color: #CC0044;
  text-decoration: none;
  .mx-transition(ease 0.5s);
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
