
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100%;
  background-color: #383840;
  color: #E0E0FF;
  font-family: "source-sans-pro";
  text-rendering: optimizeLegibility;
}

// These rules will be overriden by
// `.wf-active header`, `.wf-active section`, `.wf-active footer`,
// once webfonts are loaded.
header,
section,
footer {
  visibility: hidden;
  padding: 1em (100% / 18);
}

noscript {
  display: block;
  padding: 1em (100% / 18);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 100;
}

p {
  margin: 0;
}

a {
  padding: 0 0.103em;
  border-bottom: 1px solid #FFE0EB;
  color: #FFE0EB;
  text-decoration: none;
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
