
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

*::-moz-selection { background-color: #CC0044; color: #F0F0F0; }
     *::selection { background-color: #CC0044; color: #F0F0F0; }

// These rules will override the corresponding base ones,
// once webfonts are loaded.
.wf-active header,
.wf-active section,
.wf-active footer {
  visibility: visible;
}

a:hover,
a:focus {
  outline: none;
  border-bottom: 1px solid #CC0044;
  color: #CC0044;
  .mx-transition(ease 0.5s);
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.st-explicit {
  border-top: 1px solid #D0D0D0;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #D0D0D0;
  background-color: #E0E0E0;
}

.st-monospace {
  font-family: monospace;
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
