
// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

*::-moz-selection { background-color: #CC0044; color: #F0F0F0; }
     *::selection { background-color: #CC0044; color: #F0F0F0; }

// These rules will override the corresponding base ones,
// once webfonts are loaded.
.wf-active header,
.wf-active section,
.wf-active footer {
  visibility: visible;
}

a:hover,
a:focus {
  outline: none;
  border-bottom: 1px solid #CC0044;
  color: #CC0044;
  .mx-transition(cubic-bezier(0.382, 0, 0.618, 1) 0.206s);
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.st-explicit {
  .mx-box-sh(e("inset 1px 1px 0 0 #D0D0D0, inset -1px -1px 0 0 #FFFFFF"));
  background-color: #E0E0E0;
}

.st-monospace {
  font-family: monospace;
}



// ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
